{% extends 'Buddy_Crocker/base.html' %}
{% load static %}

{% block title %}Your Profile - Buddy Crocker{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Buddy_Crocker/css/profile.css' %}" />
{% endblock %}

{% block content %}
<div class="profile-layout">
  <div class="sidebar">
    <img class="profile-img" src="{% static 'Buddy_Crocker/images/profile-pic.png' %}" alt="Profile picture" />
    <ul>
      <li><a href="#" class="active">Account Details</a></li>
      <li><a href="{% url 'password_change' %}">Change Password</a></li>
      <li>
        <form action="{% url 'logout' %}" method="post" style="display:block; width:100%;">
          {% csrf_token %}
          <button type="submit" class="sidebar-logout-link">Log Out</button>
        </form>
      </li>
    </ul>
  </div>
  <div class="profile-main">
    <div class="btn-bar">
      <a class="btn-secondary" href="{% url 'index' %}">Return Home</a>
      <a class="btn-primary" href="{% url 'profile-detail' user.pk %}?edit=1">Edit Profile</a>
    </div>

    <h2>Account Settings</h2>
    <form>
      <div class="form-field">
        <label class="form-label">Email address</label>
        <input class="form-input" type="email" value="{{ user.email }}" readonly />
      </div>
      <div class="form-field">
        <label class="form-label">First name</label>
        <input class="form-input" type="text" value="{{ user.first_name }}" readonly />
      </div>
      <div class="form-field">
        <label class="form-label">Last name</label>
        <input class="form-input" type="text" value="{{ user.last_name }}" readonly />
      </div>
      <div class="form-field">
        <label class="form-label">Date Joined</label>
        <input class="form-input" type="text" value="{{ user.date_joined|date:'F j, Y' }}" readonly />
      </div>
      <div class="form-field">
        <label class="form-label">Allergies & Preferences</label>
        {% if profile.allergens.all %}
          <div class="allergens-list">
            {% for allergen in profile.allergens.all %}
              <span class="allergen-name">{{ allergen.name }}</span>
            {% endfor %}
          </div>
        {% else %}
          <span>No selections yet.</span>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock %}
