{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>Buddy Crocker</title>
    </head>
    <body>
        <header>
            <h1>Welcome to Buddy Crocker!</h1>
        </header>
        <main>
            <p>This is our first landing page</p>
        </main>
        <footer>
            <p>Created by Team 3 - 2025</p>
        </footer>
    </body>
</html>